<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xie.server.a.mapper.TCyclingBuSiteMapper">


    <select id="queryListByLocation" resultType="com.xie.server.a.vo.CyclingBuSiteVo">
    SELECT
     s.id,
     s.geo_hash geoHash,
     s.longitude ,
     s.latitude,
    (6378137.0*ACOS(SIN(#{latitude}/180*PI())*SIN(s.latitude/180*PI())+COS(#{latitude}/180*PI())*COS(s.latitude/180*PI())*COS((#{longitude}-s.longitude)/180*PI()))) as distance
    FROM t_cycling_bu_site AS s
    WHERE 1=1 HAVING distance &lt;= #{distance}
    ORDER BY distance
  </select>

    <select id="queryListByGeoHash" resultType="com.xie.server.a.vo.CyclingBuSiteVo">
    SELECT
    s.id,
    s.geo_hash geoHash,
    s.longitude ,
    s.latitude
    FROM t_cycling_bu_site AS s
    WHERE ${geoHash}
  </select>
</mapper>
